<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/output.css') }}">
    <title>URL Shortener</title>
    <script>
        function copyURL() {
            // Get the text field
            var copyText = document.querySelector("#urlField");
            navigator.clipboard.writeText(copyText.innerHTML);
            alert("Copied " + copyText.innerHTML + " to clipboard.")
        }
    </script>
</head>

<body class="text-center justify-center flex flex-col items-center h-screen content-center object-center">
    <h1 class="text-[35px] font-bold mb-[30px]">Puntawat's URL Shortener</h1>
    {% if url == None %}
    <form method="post" action="/" class="flex-row flex mx-auto">
        <input type="text" id="first_name"
            class="bg-gray-50 border border-gray-300 outline-none mr-[15px] text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5"
            placeholder="URL" name="url" required autocomplete="off" autofocus>
        <button
            class="bg-slate-900 outline-none transition-all ease-in-out hover:scale-110 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-12 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400"
            type="submit">Shorten</button>
    </form>
    {% endif %}
    {% if url != None %}
    <div class="flex-row flex mx-auto">
        <div type="text"
            class="bg-gray-50 border pt-[12px] border-gray-300 outline-none mr-[15px] text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5"
            id="urlField">
            {{ url }}</div>
        <button
            class="bg-slate-900 outline-none transition-all ease-in-out hover:scale-110 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-12 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400"
            onclick="copyURL()">Copy</button>
    </div>
    {% endif %}
</body>

</html>